body {
	color: #7d868c;
	font-family: Arial;
}
h4 {
	font-size: 11px;
	letter-spacing: 3px;
	text-transform: uppercase;
}
h1 {
	font-size: 27px;
	letter-spacing: 5px;
	color: #061f5c;
	text-transform: uppercase;
	text-shadow: 0px 1px 4px rgba(4, 5, 5, 0.2);
}

.inner 				{padding: 30px; }
.inner-50 			{padding: 50px;}
.inner-80 			{padding: 80px;}
.inner-100 			{padding: 100px;}
.inner-top 			{padding-top: 30px;}
.inner-top-20 		{padding-top: 20px;}
.inner-top-50 		{padding-top: 50px;}
.inner-top-80 		{padding-top: 80px;}
.inner-top-100 		{padding-top: 100px;}
.inner-bottom-50 	{padding-bottom: 50px;}
.inner-bottom-80 	{padding-bottom: 80px;}
.inner-bottom-100 	{padding-bottom: 100px;}
.inner-vertical-50 	{padding:0 50px;}
.inner-vertical-80 	{padding:0 80px;}
.inner-vertical-100 {padding:0 100px;}

.img-circle {
    border-radius: 50%;
    border: solid 5px #fff;
    box-shadow: 0px 1px 13px rgba(4, 5, 5, 0.3);
    margin-bottom: 20px;
}

.products div a {
	font-size: 9px;
	color: #7d868c;
	letter-spacing: 3px;
	margin: 50px;
	display: inline-block;
	line-height: 18px;
	text-transform: uppercase;
}
.products div a:after {
    content: "";
    width: 50%;
    height: 4px;
    background-color: #ac9549;
    display: block;
    padding: 0 10px;
    left: 10px;
    margin-left: 24.5%;
    margin-top: 15px;
}
.products div a:hover .img-circle {
	border-color: #ac9549;
}

.products div a:hover {
	text-decoration: none;
	color: #000;
}

.width-100 {width: 100%}

.bg-gray-light {
	background: #f9f9f9;
}
.bg-gray-breadcrumb {
	background: #fcfcfc;
}
.lang {
	font-size: 12px;
	margin: 10px;
	color: #6b6b6b;
}
.lang a.active {
	color: #ac9549;
}
.lang a {
	color: black;
}
.logo a {
	display: inline-block;
	margin-bottom: 40px;
	padding: 5px;
}
nav a{
	text-transform: uppercase;
	font-size: 13px;
	color: #7d868c;
	letter-spacing: 3px;
}
nav #menu-mobile span {
	display: inline-block;
	font-size: 15px;
	font-weight: bold;
	margin: 0 13px;
	color: #ac9549;
	-webkit-transform:scale(3, 1.0);
	   -moz-transform:scale(3, 1.0);
		-ms-transform:scale(3, 1.0);
		 -o-transform:scale(3, 1.0);
			transform:scale(3, 1.0);
}
.navbar-style .navbar-toggle {
  border-color: #ddd;
}
.navbar-style .navbar-toggle .icon-bar {
  background-color: #888;
}
/********************
* carousel
*********************/
.carousel-caption h3 {
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size: 28px;
	line-height: 50px;
}
.carousel-inner>.item>img, .carousel-inner>.item>a>img {
  line-height: 1;
  margin: 0 auto;
  width: 100%;
}
.carousel-caption {
	padding-bottom: 57px;
}
@media screen and (min-width: 768px) {
	.carousel-caption {
		padding-bottom:57px;
	}

}
/********************
* buttons
*********************/
.button-style {
  border: solid 1px #7d868c;
  padding: 10px 15px;
  color: #7d868c;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.button-style:before {
	content: "";
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
	width: 0; 
	height: 0; 

	border-top: 5px solid #7d868c;
	border-bottom: 5px solid #7d868c; 
	border-right: 5px solid #7d868c; 
	border-left: 5px solid #7d868c; 
	-webkit-transform: rotate(45deg); 
		-ms-transform: rotate(45deg); 
			transform: rotate(45deg);

	position: absolute;
	left: 49.7%;
	top: -13px;
}
.button-style:after {
	content: "";
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
	width: 0; 
	height: 0; 
	border-top: 5px solid #7d868c;
	border-bottom: 5px solid #7d868c; 
	border-right: 5px solid #7d868c; 
	border-left: 5px solid #7d868c; 
	-webkit-transform: rotate(45deg); 
		-ms-transform: rotate(45deg); 
			transform: rotate(45deg);

	position: absolute;
	left: 49.7%;
	top: 24px;
}
.button-style:hover {
	text-decoration: none;
	background-color: #7d868c;
	color: #fff;
}
/********************
* box icons
*********************/
.box-icons {
	text-align: center;
	display: inline-block;
	text-transform: uppercase;
	letter-spacing: 3px;
	color: #7d868c;
}
.box-icons img {
	margin-top: 20px;
}
.box-icons:hover {
	text-decoration: none;
	font-weight: bold;
}
footer {
	margin-top: 160px;
}
footer .footer-link a {
	font-size: 11px;
	letter-spacing: 3px;
	border-left: solid 2px #ac9549;
	padding-left: 5px;
	display: block;
	margin: 0 0 22px 10px;
	color: #7d868c;
	text-transform: uppercase;
}
address {
	font-size: 11px;
	color: #000;
	letter-spacing: 3px;
	line-height: 22px;
	margin-bottom: 20px;
	text-transform: uppercase;
}
.footer-img img{
	margin-top: -120px;
    margin-bottom: 50px;
}
.footer-img{
    width: 100%;
    display: block;
    text-align: center;
}
a[href^=tel] {
	color: #000;
}
footer small {
	font-size: 8px;
	color: #fff;
	text-align: center;
	background: #495a86;
	border-top: solid 9px #304169;
	width: 100%;
	display: block;
	padding: 8px 0 13px 0;
	box-sizing: border-box;
}
.breadcrumb {
    padding: 18px 15px;
    margin-bottom: 10px;
    list-style: none;
    background-color: transparent;
    border-radius: 4px;

}
.breadcrumb li a {
	font-size: 14px;
    color: #7d868c;
    text-transform: lowercase;
}
.breadcrumb li.active {
	font-weight: bold;
	text-transform: lowercase;
}















.img-responsive {margin: 0 auto;}
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (max-width: 768px) { 
	nav a{
			display: block;
			padding: 10px;
		}


}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {






}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {





}